body {
    background-color: grey;
   overflow-x: hidden;
    
}



p {
    font-family: 'Staatliches', cursive;
    font-size: 25px;
}

span {
    margin: 200px;
}

#Visio4Logo {
    margin-left: auto;
    margin-right: auto;
    border-width: 100px;
    background-size: cover;
    z-index: 1;
    max-width: 100%;
    
    
    clear: both;
}

#logoborder {
    
}


img {
    float: left;
    margin: 10px;
}

.col-1-img {
    width: 600px;
}

.col-2-img {
    
    width: 400px;
    margin-bottom: 200px;
}

.col-1-wrap {
    display: block;
    max-width: 1000px;
    width: 500px;
    margin: 5%;
    padding: 1%;
    height: 100px;
    clear: both;
    float: right;
}

.col-2-wrap {
    display:block;
    max-width: 1000px;
    width: 500px;
    margin: 5%;
    padding: 1%;
    height: 100px;
    clear: both;
    float: right;
}

.col-3-wrap {
    display:block;
    max-width: 1000px;
    width: 500px;
    margin: 5%;
    padding: 1%;
    height: 100px;
    clear: both;
    float: right;
}

.col-4-wrap {
   position:relative;
    
}


.col-1-box {
    
}

.col-2-box {
    
}

.col-3-box {
    
}

.col-4-box {
    position: absolute;
    
}

.col-1-elements  {
    
}

.col-2-elements  {
    
}

.col-3-elements {
    
}

.col-4-elements {
    
}


.headeredits {
    font-family: 'Unlock', cursive;
    font-size: 50px;
    z-index: 1;
    border-top: 1px solid black;
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
    
}

#map {
   
}

footer {
    

}
#footerborder {
   border-top: 1px solid black;
    
}

